body {

    background: #f4f6f9;

    font-family: Arial, Helvetica, sans-serif;

}



/* Container principal */

.container {

    max-width: 700px;

}





/* Card do sistema */

.card {

    border-radius: 12px;

    overflow: hidden;

    border: none;

}





.card-header {

    background: #006b3f;

    color: white;

    padding: 25px;

}





.card-header h2 {

    font-weight: bold;

    margin-bottom: 5px;

}



.card-header h5 {

    font-weight: normal;

}





.card-body {

    padding: 35px;

    background: white;

}





/* Labels */

.form-label {

    font-weight: bold;

    color: #333;

}





/* Campos */

.form-control,

.form-select {

    height: 45px;

    border-radius: 8px;

}





textarea.form-control {

    height: auto;

}





/* Botão */

.btn-success {


    background: #008542;

    border-color: #008542;

    border-radius: 8px;

    font-weight: bold;

    padding: 12px;


}



.btn-success:hover {


    background: #006b35;

}





/* Destaque informações */

input[readonly] {

    background-color: #eeeeee;

    font-weight: bold;

}





/* Responsivo */

@media(max-width:768px){


.card-body {

    padding:20px;

}


}
